@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1 {
  font-weight: 800;
}

.banner {
<<<<<<< HEAD
  height: 10px;
=======
  height: 59999px;
>>>>>>> 370ec770238958330ce6f6819d0c553f2d97f753
  background-image: url('img/cactus.jpg');
  background-size: cover;
  background-position: center center;
}
